<!doctype html>
<html>

<head>
    <title>Javascript</title>
    <meta charset="utf-8">
    <meta name="description" content="Opis strony">
    <meta name="viewport" content="width-devide-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
    </script>
    
    <style>
    </style>
    
</head>


<body ng-app="myApp" ng-controller='myCtrl'>

<ul>
    <li ng-repeat='element in listElements'>{{element}}</li>
</ul>

<input type="checkbox" ng-model="myBool"> Pokaż h1
<h1 ng-show="myBool">Lorem ipsum</h1>
<button ng-disabled="myBool">Kliknj mnie</button> <!-- jak checkbox bedzie zaznaczony, to nie klikniesz -->





<script>
    var app = angular.module('myApp', []);
    
    app.controller('myCtrl', function($scope) {
        
        $scope.listElements = ["lorem1", "lorem2", "lorem3", "lorem4", "lorem5"];
        
        $scope.myBool = true;
        
        
    })
    </script>

</body>

</html>
