.square {
    width: 100px;
    height: 100px;
    background: #112255;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
p {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}